body {
  background: #000;
  color: #fff;
}

.app {
  text-align: center;
  padding: 5%;
  .title {
    font-size: 50px;
    font-style: italic;
  }
}

.profile {
  .img {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 75px;
    object-fit: cover;
  }
  .info {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    .name {
      font-size: 26px;
    }
    .genres .followers {
      font-size: 18px;
    }
  }
}

.gallery {
  .track {
    display: inline-block;
    width: 220px;
    height: 220px;
    border: 3px solid #fff;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  .img {
    width: 220px;
    height: 220px;
    border: 3px solid #fff;
    border-radius: 3px;
    object-fit: cover;
    position: absolute;
  }
  .text {
    background: black;
    color: white;
    width: 214px;
    margin-left: 3px;
    opacity: 0.75;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  .play {
    position: absolute;
    width: 220px;
    height: 220px;
    .inner {
      position: absolute;
      text-align: center;
      font-size: 20px;
      background-color: black;
      border-radius: 30px;
      width: 60px;
      height: 60px;
      color: white;
      padding-top: 13px;
      margin-left: 80px;
      margin-top: 80px;
      opacity: 0;
      &:hover {
        opacity: 0.8;
        animation-name: fade_ina;
        animation-duration: 1.5s;
      }
      @keyframes fade-ina {
        from {
          opacity: 0;
        }
        to {
          opacity: 0.8;
        }
      }
    }
  }

}
